* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 200px;
}

main {
  height: 100vh;
}

.container {
  max-width: 1600px;
}

.col-100 {
  width: 100%;
}

.col-12 {
  width: 100%;
}

h1 {
  margin-left: 50px;
}

.headerTitle {
  background-color: #F8F9FA;
}